/* dark mode styles -- default */
:root {
  --color-bg: #142030;
  --color-primary: #FF5C8D;
  --color-text: #C5CECE;

}

/* User override: Light mode */
body.light-mode {
  // --color-bg: #C5CECE;
  --color-bg: #E4EDED;
  --color-primary: #DE2863;
  --color-text: #163059;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  min-width: 500px;
}

a, a:visited {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-text);
}

h1, h2 {
  color: var(--color-primary);
}

h3, h4 {
  color: var(--color-text);
}

// TODO: fix nav styling
.current {
  color: green;
}

.site-title, .site-title:visited {
  color: var(--color-primary)
}

.site-nav .page-link {
  color: var(--color-primary)
}

#theme-toggle {
  all: unset; /* resets all inherited/default button styles */
  cursor: pointer;
  padding: 0.5rem; /* optional padding */
  border-radius: 0.25rem; /* optional: round edges */
  background-color: transparent; /* ensure no bg */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional: hide ghost elements if you find any by inspecting */
.site-header .wrapper > :empty {
  display: none !important;
}